$backgroundColor: rgb(57, 134, 50);
$headingSize: 40px;
$color: rgb(255, 255, 255);

body{
    margin: 0px;
}

.header {
    text-align: center;
    font-size: $headingSize;
    position: relative;
    top:5vh;
}

.paragraph {
    font-size: 20px;

}

.para {
    font-size: 20px;
    position: relative;
    left:50vh;
    top:-20vh;
    margin: 0px;
}

#para2 {
    position: relative;
    top:5vh;
}

.navvy {
    background-color:$backgroundColor;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 5;


    ul {
        margin: 0px;
    }


    li {
        display: inline;
        position: relative;
        top:40px;
        padding: 30px;
    }

    a {
        color:$color;
        font-size: 20px;
    }

    h1    {
         color:$color;
         text-align: center;
         font-size: 35px;
         position: relative;
         bottom:60px;
         width: 40px;
         left: 800px;
    } 
    
   

}

#home {
    width: 100%;
    height: 100vh;
}


.main-herobar{
    position: relative;
    justify-content: center;
    top:170px;
    left:270px;
    width: 70%;
    height: 200px;
    

     .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .main-sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }
        }
        .main-sec2 {
            background-image:url(images/four-leaf-clovers-jpg.jpeg) ;
            background-position: center;
            grid-row: span 3;
        }
    }


}

.start {
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0px;

    #items {
        position: relative;
        top:50px;
    }
}

.comp {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0px;

    h1 {
        margin:0px;
        color:$backgroundColor;
        position: relative;
        top:10px;
        width: 50vh;
    }

    #links {
        position: relative;
        left:50%;
        top:-85px;
        width: 30vh;
        margin: 0px;
        

        h1 {
            color:$backgroundColor;
        }

        li {
            padding: 10px;
        }
    }
}

.cardpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.card {
    width: 20%;
    height: 35vh;
    background-color:$backgroundColor ;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    left:5vh;

    .card-text {
        width:100%;
        height: 10vh;
        text-align: center;
        color: $color;
    }

    .card-image {
        background-color: gray;
        height: 23vh;
        text-align: center;
    }
}



.heropage {
    width: 100%;
    height: 200vh;
    background-color: rgb(255, 255, 255);

    h1 {
        font-size: $headingSize;
        text-align: center;
    }

    #paragraph1 {
        width: 50%;
        text-align: center;
        font-size: 20px;
        position: relative;
        top:100px;
        left:450px;
    }

    #ex {
        text-align: center;
        position: relative;
        top:200px;
    }

  
}

.code {
    position: relative;
    width: 70%;
    left:300px;
    background-color: transparent;
    border-width: 5px;
    margin: 0px;

       
}    
    
.grid2 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(4, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    top:600px;

    .html {
        background-color:rgba(163, 163, 163, 0.589);
        grid-row: span 3;

        h1 {
        color:white;
        position: relative;
        left:20px;
        top:5px;

        }
    }
    .css {
        background-color:rgba(163, 163, 163, 0.589);
        background-position: center;
        grid-row: span 4;

       
    }

}

.navpage {
    width: 100%;
    height: 130vh;
    background-color: rgb(255, 255, 255);     

    h1 {
        font-size: $headingSize;
        text-align: center;
    }
      
}

.nav {
    background-color: #398632;
    position: relative;
    top:100px;
    left: 240px;
    width: 70%;
    height: 10vh;
    z-index: 5;

    ul {
        margin: 0px;
    }


    li {
        display: inline;
        position: relative;
        top:40px;
        padding: 30px;
    }

    a {
        color:$color;
        font-size: 20px;
    }

    h1    {
        color:$color;
        text-align: center;
        font-size: 35px;
        position: relative;
        bottom:60px;
        width: 40px;
        left: 600px;
    } 
  }

  .grid3 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(3, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    top:200px;

    .html {
        background-color:rgba(163, 163, 163, 0.589);
        grid-row: span 3;

        h1 {
        color:white;
        position: relative;
        left:20px;
        top:5px;

        }
    }
    .css {
        background-color:rgba(163, 163, 163, 0.589);
        background-position: center;
        grid-row: span 3;

       
    }

}

.herobar {
    position: relative;
    justify-content: center;
    top:200px;
    left:270px;
    width: 70%;
    height: 200px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }
        }
        .sec2 {
            background-color:gray;
            background-position: center;
            grid-row: span 3;

            p {
                text-align: center;
            }
        }
    }               
}

.grid4 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(2, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    

    


    .html {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-color: rgb(221, 221, 221);

        h1 {
        color:black;
        position: relative;
        left:20px;
        top:5px;
        text-align: center;

        }
    }
    .css {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-color: rgb(221, 221, 221);


        h1 {
            text-align: center;
        }

       
    }
}

.button-page {
    width: 100%;
    height: 120vh;
    background-color: rgb(255, 255, 255);

    #para2 {
        text-align: center;
    }
    
}

.buttons {
        position: relative;
        top:9vh;
        left:35%;
        padding: 5px;
        
        ul {
            display: inline;
            
        }

        li {
            padding: 0.5%;
            display: inline;
        }
}

    .btn {
        background-color: $backgroundColor;
        border-radius: 10px;
        border-style: solid;
        
    }

    #lg-btn {
        width:15vh;
        height: 5vh;
    }

    #md-btn {
        width:12vh;
        height: 4vh;
    }

    #sm-btn {
        width: 8vh;
        height: 3vh;
    }

#buttoncode {
    position: relative;
    top:20vh;
}

.grid5 {
        display: grid;
        grid-gap:30px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        // border-radius: 20px;
        overflow: hidden;
        position: relative;
        
        .html {
            grid-row: span 2;
            grid-column: span 1;
            border-style: solid;
            border-color: rgb(221, 221, 221);
    
            h1 {
            color:black;
            position: relative;
            left:20px;
            top:5px;
            text-align: center;
    
            }
        }
        .css {
            grid-row: span 3;
            grid-column: span 1;
            border-style: solid;
            border-color: rgb(221, 221, 221);
    
    
            h1 {
                text-align: center;
            }
    
           
        }

        h3 {
            position: relative;
            left:10vh;
        }
    }
.formpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 119, 237);
    padding:1%;
    .forms {
        position: relative;
        top:5vh;
       
    }

    label {
        display:block;
    }
}

input {
    height: 3vh;
    width: 30vh;
    border-style: solid;
    border-color:$backgroundColor;
}



.gridpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 128, 0);
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0px;
        justify-content: space-evenly;
        .card {
            width: 100%;
            height: 35vh;
            background-color:$backgroundColor ;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            left:5vh;
        
            .card-text {
                width:90%;
                height: 10vh;
                text-align: center;
                color: $color;
            }
        
            .card-image {
                background-color: gray;
                height: 23vh;
                text-align: center;
            }
        }

    }
}


.modalpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(58, 216, 255);
}









   


