body {
  margin: 0px;
}

.navvy {
  background-color: #398632;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 5;
}

.navvy ul {
  margin: 0px;
}

.navvy li {
  display: inline;
  position: relative;
  top: 40px;
  padding: 30px;
}

.navvy a {
  color: white;
  font-size: 20px;
}

.navvy h1 {
  color: white;
  text-align: center;
  font-size: 35px;
  position: relative;
  bottom: 60px;
  width: 40px;
  left: 800px;
}

#home {
  width: 100%;
  height: 100vh;
}

.main-herobar {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 170px;
  left: 270px;
  width: 70%;
  height: 200px;
}

.main-herobar .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (20vh)[3];
      grid-template-rows: repeat(3, 20vh);
  border-radius: 20px;
  overflow: hidden;
}

.main-herobar .grid .main-sec1 {
  background-color: #398632;
  grid-row: span 3;
}

.main-herobar .grid .main-sec1 h1 {
  color: white;
  position: relative;
  left: 30px;
  top: 20px;
}

.main-herobar .grid .main-sec2 {
  background-image: url(images/four-leaf-clovers-jpg.jpeg);
  background-position: center;
  grid-row: span 3;
}

.start {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin: 0px;
}

.start #items {
  position: relative;
  top: 50px;
}

.comp {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin: 0px;
}

.comp h1 {
  margin: 0px;
  color: #398632;
  position: relative;
  top: 10px;
}

.comp #links {
  position: relative;
  left: 1400px;
  top: -85px;
}

.comp #links h1 {
  color: #398632;
}

.comp #links li {
  padding: 10px;
}

.cardpage {
  width: 100%;
  height: 120vh;
  background-color: #f01c1c;
}

.card {
  width: 20%;
  height: 35vh;
  background-color: #398632;
  border-radius: 15px;
  overflow: hidden;
}

.card .card-text {
  width: 100%;
  height: 10vh;
  text-align: center;
  color: white;
}

.card .card-image {
  background-color: gray;
  height: 23vh;
  text-align: center;
}

.heropage {
  width: 100%;
  height: 200vh;
  background-color: white;
}

.heropage h1 {
  font-size: 40px;
  text-align: center;
}

.heropage #paragraph1 {
  width: 50%;
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 100px;
  left: 450px;
}

.heropage #ex {
  text-align: center;
  position: relative;
  top: 200px;
}

.code {
  position: relative;
  width: 70%;
  left: 300px;
}

.grid2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (20vh)[4];
      grid-template-rows: repeat(4, 20vh);
  overflow: hidden;
  position: relative;
  top: 600px;
}

.grid2 .html {
  background-color: rgba(163, 163, 163, 0.589);
  grid-row: span 3;
}

.grid2 .html h1 {
  color: white;
  position: relative;
  left: 20px;
  top: 5px;
}

.grid2 .css {
  background-color: rgba(163, 163, 163, 0.589);
  background-position: center;
  grid-row: span 4;
}

.navpage {
  width: 100%;
  height: 130vh;
  background-color: white;
}

.navpage h1 {
  font-size: 40px;
  text-align: center;
}

.nav {
  background-color: #398632;
  position: relative;
  top: 100px;
  left: 240px;
  width: 70%;
  height: 10vh;
  z-index: 5;
}

.nav ul {
  margin: 0px;
}

.nav li {
  display: inline;
  position: relative;
  top: 40px;
  padding: 30px;
}

.nav a {
  color: white;
  font-size: 20px;
}

.nav h1 {
  color: white;
  text-align: center;
  font-size: 35px;
  position: relative;
  bottom: 60px;
  width: 40px;
  left: 600px;
}

.grid3 {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (20vh)[3];
      grid-template-rows: repeat(3, 20vh);
  overflow: hidden;
  position: relative;
  top: 200px;
}

.grid3 .html {
  background-color: rgba(163, 163, 163, 0.589);
  grid-row: span 3;
}

.grid3 .html h1 {
  color: white;
  position: relative;
  left: 20px;
  top: 5px;
}

.grid3 .css {
  background-color: rgba(163, 163, 163, 0.589);
  background-position: center;
  grid-row: span 3;
}

.herobar {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 200px;
  left: 270px;
  width: 70%;
  height: 200px;
}

.herobar .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (20vh)[3];
      grid-template-rows: repeat(3, 20vh);
  border-radius: 20px;
  overflow: hidden;
}

.herobar .grid .sec1 {
  background-color: #398632;
  grid-row: span 3;
}

.herobar .grid .sec1 h1 {
  color: white;
  position: relative;
  left: 30px;
  top: 20px;
}

.herobar .grid .sec2 {
  background-color: gray;
  background-position: center;
  grid-row: span 3;
}

.herobar .grid .sec2 p {
  text-align: center;
}

.grid4 {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (20vh)[2];
      grid-template-rows: repeat(2, 20vh);
  overflow: hidden;
  position: relative;
  top: 200px;
}

.grid4 .html {
  background-color: rgba(163, 163, 163, 0.589);
  grid-row: span 2;
  grid-column: span 1;
}

.grid4 .html h1 {
  color: white;
  position: relative;
  left: 20px;
  top: 5px;
}

.grid4 .css {
  background-color: rgba(163, 163, 163, 0.589);
  background-position: center;
  grid-row: span 2;
  grid-column: span 1;
}
/*# sourceMappingURL=style.css.map */