$backgroundColor: rgb(57, 134, 50);
$headingSize: 40px;
$color: rgb(255, 255, 255);

body{
    margin: 0px;
}


.navvy {
    background-color:$backgroundColor;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 5;


    ul {
        margin: 0px;
    }


    li {
        display: inline;
        position: relative;
        top:40px;
        padding: 30px;
    }

    a {
        color:$color;
        font-size: 20px;
    }

    h1    {
         color:$color;
         text-align: center;
         font-size: 35px;
         position: relative;
         bottom:60px;
         width: 40px;
         left: 500px;
    } 
    
   

}

#home {
    width: 100%;
    height: 100vh;
}


.main-herobar{
    position: relative;
    justify-content: center;
    top:170px;
    left:270px;
    width: 70%;
    height: 200px;
    

     .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .main-sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }
        }
        .main-sec2 {
            background-image:url(images/four-leaf-clovers-jpg.jpeg) ;
            background-position: center;
            grid-row: span 3;
        }
    }


}

.start {
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0px;

    #items {
        position: relative;
        top:50px;
    }
}

.comp {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0px;

    h1 {
        margin:0px;
        color:$backgroundColor;
        position: relative;
        top:10px;
    }

    #links {
        position: relative;
        left:1400px;
        top:-85px;

        h1 {
            color:$backgroundColor;
        }

        li {
            padding: 10px;
        }
    }
}

.cardpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 28, 28);
}

.heropage {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);

    h1 {
        font-size: $headingSize;
        text-align: center;
    }

    #paragraph1 {
        width: 50%;
        font-size: 20px;
    }

    h2 {
        text-align: center;
    }
}

.navpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 37, 207);
}

.herobar {
    position: relative;
    justify-content: center;
    top:60px;
    left:270px;
    width: 70%;
    height: 200px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }
        }
        .sec2 {
            background-color:gray;
            background-position: center;
            grid-row: span 3;

            p {
                text-align: center;
            }
        }
    }               
}




   


