$backgroundColor: rgb(57, 134, 50);
$headingSize: 40px;
$color: rgb(255, 255, 255);


.navvy {
    background-color:$backgroundColor;
    height: 100px;


    li {
        display: inline;
        position: relative;
        top:40px;
        padding: 30px;
    }

    a {
        color:$color;
        font-size: 20px;
    }

    h1    {
         color:$color;
         text-align: center;
         font-size: 35px;
         position: relative;
         bottom:19px;
    }    

}


.herobar{
    position: relative;
    justify-content: center;
    top:50px;
    left:270px;
    width: 70%;
    height: 200px;
    

     .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }
        }
        .sec2 {
            background-image:url(images/four-leaf-clovers-jpg.jpeg) ;
            background-position: center;
            grid-row: span 3;
        }
    }


}
   


