$backgroundColor: rgb(57, 134, 50);
$headingSize: 40px;
$color: rgb(255, 255, 255);

* {
    outline: 2px solid red;
}

#home, #comp, #start {
    width: 100%;
    height: 100vh;
}



body{
    margin: 0px;
    font-family: 'Inter', sans-serif;

}

.header {
    text-align: center;
    font-size: $headingSize;
    position: relative;
    top:5vh;
    color:$backgroundColor;
}

p {
    font-size: 17px;
    line-height: 4vh;
}

.para {
    font-size: 20px;
    position: relative;
    top:-20vh;
    margin: 0px;
    text-align: center;
}

#para2 {
    position: relative;
    top:5vh;
    text-align: center;
}

.border {
    border-top: .5px solid rgba(173, 173, 173, 0.822);
}

.startcode {
    border-style: solid;
    border-width: .7px;
    border-color:#aaaaaa;
    width:85vh;

   #textcode {
       color:red;
   }
}

.navvy {
    background-color:$backgroundColor;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 5;


    ul {
        margin: 0px;
    }


    li {
        display: inline;
        position: relative;
        top:40px;
        padding: 30px;
    }

    a {
        color:$color;
        font-size: 20px;
    }

    h1    {
         color:$color;
         text-align: center;
         font-size: 35px;
         position: relative;
         bottom:60px;
         width: 40px;
         left: 90vh;
    } 
    
   
}

#home {
    width: 100%;
    height: 100vh;
}


.main-herobar{
    position: relative;
    justify-content: center;
    top:170px;
    left:270px;
    width: 70%;
    height: 200px;
    

     .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .main-sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;
            color:white;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }
            p {
                padding:10px;
            }
        }
        .main-sec2 {
            background-image:url(images/four-leaf-clovers-jpg.jpeg) ;
            background-position: center;
            grid-row: span 3;
        }
    }


}

.start {
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0px;

    #items {
        position: relative;
        top:50px;
        margin:10px;

        #step4 {
            position: relative;
            left:100vh;
            top:-87vh;
            width: 60vh;
        }
    }

    h1 {
        color:$backgroundColor;
        font-size: $headingSize;
    }


}

.comp {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0px;

    h1 {
        margin:0px;
        color:$backgroundColor;
        position: relative;
        top:10px;
        width: 80vh;
        font-size: $headingSize;
    }

    #webinfo {
        width: 80vh;
        padding: 10px;
        position: relative;
        top:20vh;

        p {
            font-size: 17px;
            line-height: 4vh;
        }
    }

    #links {
        position: relative;
        left:80%;
        top:-85px;
        width: 30vh;
        margin: 0px;
        

        h1 {
            color:$backgroundColor;
            width:30vh;
        }

        li {
            padding: 10px;
            font-size: 18px;
        }

        a:link {
            color:black;
            text-decoration: none;

            
        }
        a:hover {
            color:$backgroundColor;
            text-decoration: underline;
            
        }
    }
}

.cardpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);

    h1  {
        top:10vh;
    }
}

.card2 {
    width: 20%;
    height: 35vh;
    background-color:$backgroundColor ;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    left:5vh;
    top:45vh;

    .card-text {
        width:100%;
        height: 10vh;
        text-align: center;
        color: $color;
    }

    .card-image {
        background-color: gray;
        height: 23vh;
        text-align: center;
    }
}



.heropage {
    width: 100%;
    height: 200vh;
    background-color: rgb(255, 255, 255);

    h1 {
        font-size: $headingSize;
        text-align: center;
        position: relative;
        top:10vh;
    }

    #paragraph1 {
        width: 50%;
        text-align: center;
        font-size: 20px;
        position: relative;
        top:100px;
        left:450px;
    }

    #ex {
        text-align: center;
        position: relative;
        top:200px;
        font-size: 40px;
    }

  
}

.code {
    position: relative;
    width: 70%;
    left:33vh;
    background-color: transparent;
    border-width: 5px;
    margin: 0px;

       
} 

.code1 {
    position: relative;
    top:5vh;
}
    
.grid2 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(4, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    top:600px;

    .html {
        // background-color:rgba(163, 163, 163, 0.589);
        grid-row: span 3;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;

        h1 {
        
        position: relative;
        left:20px;
        top:5px;

        }
    }
    .css {
        // background-color:rgba(163, 163, 163, 0.589);
        background-position: center;
        grid-row: span 4;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;

        h1 {
        
            position: relative;
            left:20px;
            top:5px;
    
            }
       
    }

}

.navpage {
    width: 100%;
    height: 130vh;
    background-color: rgb(255, 255, 255);     

    .hed1 {
        font-size: $headingSize;
        text-align: center;
        color:#398632;
        position: relative;
        top:10vh;
    }

    p {
        text-align: center;
        padding: 5px;
        position: relative;
        top:10vh;
    }

    h2 {
        position: relative;
        left:90vh;
        top:12vh;
        font-size: 35px;
        width:30vh;
    }
      
}

.nav {
    background-color: #398632;
    position: relative;
    top:100px;
    left: 240px;
    width: 70%;
    height: 10vh;
    z-index: 5;

    ul {
        margin: 0px;
    }


    li {
        display: inline;
        position: relative;
        top:40px;
        padding: 30px;
    }

    a {
        color:$color;
        font-size: 20px;
    }

    h1    {
        color:$color;
        text-align: center;
        font-size: 35px;
        position: relative;
        bottom:60px;
        width: 40px;
        left: 600px;
    } 
  }

  .grid3 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(3, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    top:200px;

    .html {
        // background-color:rgba(163, 163, 163, 0.589);
        grid-row: span 3;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;

        h1 {
        color:$backgroundColor;
        position: relative;
        left:20px;
        text-align: center;
        top:5px;

        }
    }
    .css {
        // background-color:rgba(163, 163, 163, 0.589);
        background-position: center;
        grid-row: span 3;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;

        h1{
            text-align: center;
            color:$backgroundColor;
        }

       
    }

}

.herobar {
    position: relative;
    justify-content: center;
    top:200px;
    left:270px;
    width: 70%;
    height: 200px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(3, 20vh);
        border-radius: 20px;
        overflow: hidden;

        .sec1 {
            background-color:$backgroundColor;
            grid-row: span 3;
            color:white;

            h1 {
            color:white;
            position: relative;
            left:30px;
            top:20px;

            }

            p {
                padding:10px;
            }
        }
        .sec2 {
            background-color:gray;
            background-position: center;
            grid-row: span 3;

            p {
                text-align: center;
            }
        }
    }               
}

// CARD GRID ////////////////

.grid4 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(2, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    

    


    .html {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-color: rgb(221, 221, 221);

        h1 {
        color:$backgroundColor;
        position: relative;
        left:20px;
        top:5px;
        text-align: center;

        }
    }
    .css {
       
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-color: rgb(221, 221, 221);


        h1 {
            text-align: center;
             color:$backgroundColor;
        }

       
    }
}

.cardcode{
    width: 70%;
    margin:0px;
    position: relative;
    left:50vh;
}


// /////////// BUTTON PAGE ///////////////////

.button-page {
    width: 100%;
    height: 120vh;
    background-color: rgb(255, 255, 255);

    #para2 {
        text-align: center;
    }
    
}

.buttons {
        position: relative;
        top:9vh;
        left:35%;
        padding: 5px, 0px, 0px, 0px;
        width: 100vh;
        margin: 0;
        
        ul {
            display: inline;
            
        }

        li {
            padding: 0.5%;
            display: inline;
        }
}

.btn {
        background-color: $backgroundColor;
        border-radius: 10px;
        border-style: solid;
        cursor: pointer;

}

    
.btn:hover {
    filter: brightness(70%);
}

#lg-btn {
        width:15vh;
        height: 5vh;
    }

#md-btn {
        width:12vh;
        height: 4.5vh;
    }

#sm-btn {
        width: 8vh;
        height: 3.5vh;
    }

#buttoncode {
    position: relative;
    top:20vh;
}

.grid5 {
        display: grid;
        grid-gap:30px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows:repeat(4, 20vh);
        // border-radius: 20px;
        overflow: hidden;
        position: relative;

        pre {
            font-size: 11px;
        }
        
        .html {
            grid-row: span 3;
            grid-column: span 1;
            border-style: solid;
            border-color: rgb(221, 221, 221);
    
            h1 {
            color:$backgroundColor;
            position: relative;
            left:20px;
            top:5px;
            text-align: center;
    
            }
        }
        .css {
            grid-row: span 3;
            grid-column: span 1;
            border-style: solid;
            border-color: rgb(221, 221, 221);
    
    
            h1 {
                color:$backgroundColor;
                text-align: center;
            }
    
           
        }

        h3 {
            position: relative;
            left:10vh;
        }

        
}
.formpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    

    #exinfo {
        position: relative;
        left:60vh;
        width:70vh;
    }


    .exforms {
        position: relative;
        top:10vh;
       
    }

    .forms {
        position: relative;
        justify-content: center;
        align-items: center;
        // left:10%;
        top:20vh;
        
    }

    label {
        display:block;
    }


}

input {
    height: 3vh;
    width: 30vh;
    border-style: solid;
    border-color:$backgroundColor;
    border-radius: 5px;
}

.grid6 {
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(2, 20vh);
    // border-radius: 20px;
    overflow: hidden;
    position: relative;
    left:15%;
    
    .html {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;

        h1 {
        color:$backgroundColor;
        position: relative;
        left:20px;
        top:5px;
        text-align: center;

        }
    }
    .css {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;


        h1 {
            text-align: center;
            color:$backgroundColor;

        }

       
    }
}

#formcode {
    position: relative;
    top:15vh;
    margin:0;
    
    
}

.gridpage {
    width: 100%;
    height: 165vh;
    background-color: rgb(255, 255, 255);

    #gridinfo {
        width: 70%;
        justify-content: center;
        align-items: center;
        position: relative;
        left:30vh;
        p {
        text-align: center;
        position: relative;
        top: 20vh;
        }

        h1 {
            position: relative;
            top:20vh;
        }


    



    }

    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0px;
        justify-content: space-evenly;
        position: relative;
        top:25vh;
        .card {
            width: 100%;
            height: 35vh;
            background-color:$backgroundColor ;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            left:5vh;
        
            .card-text {
                width:90%;
                height: 10vh;
                text-align: center;
                color: $color;
            }
        
            .card-image {
                background-color: gray;
                height: 23vh;
                text-align: center;
            }
        }

    }
}
.grid7 {
    display: grid;
    width: 70%;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(3, 20vh);
    // border-radius: 20px;
    // overflow: hidden;
    position: relative;
    top:25vh;
    left:10vh;
    
    // left: 20vh;
    .html {
        grid-row: span 3;
        grid-column: span 1;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;
        // background-color:#39863275;

        h1 {
        color:$backgroundColor;
        position: relative;
        left:20px;
        top:5px;
        text-align: center;

        }
    }
    .css {
        grid-row: span 3;
        grid-column: span 1;
        border-style: solid;
        border-color:#868686;
        border-width: .7px;
        // background-color:#39863275;
        position: relative;
        // top: -72vh;
        // left: 95vh;

        h1 {
            text-align: center;
            color:$backgroundColor;
        }

       
    }
}

//  ---------------- MODAL PAGE ----------------------- //////////////////

.modalpage {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);

    h2 {
        position: relative;
        top:10vh;
        left:1vh;
        color: $backgroundColor;
        
    }
}

.exmodal {
    position: relative;
    left:76vh;
    top:20vh;
   

}

.modal2 {
    width: 50vh;
    height: 23vh;
    background-color: #398632;
    border-radius: 15px;
    color:white;
    position: relative;
    right:75vh;
    bottom: 10vh;
   
    

    h3 {
        padding:5px;
        text-align: center;
        font-size: 23px;
    }

    p {
        position: relative;
        font-size:19px;
        left:2%;
    }

    .close {
        width: 10vh;
        height: 4vh;
        background-color: rgb(170, 170, 170);
        color:white;
        border-style: solid;
        border-color: transparent;
        border-radius: 10px;
        position: relative;
        bottom:1vh;
    }

    .save {
        width: 10vh;
        height: 4vh;
        background-color:white;
        color:$backgroundColor;
        border-style: solid;
        border-color: transparent;
        border-radius: 10px;
        position: relative;
        bottom:1vh;
    }

    
}

.modal {
    display:none;
    position: relative;
    z-index: 1;
    width: 50vh;
    height: 23vh;
    background-color: #398632;
    border-radius: 15px;
    color:white;
    position: relative;
    top:15vh;
    left:1vh;
    margin:0;

    h3 {
        padding:5px;
        text-align: center;
        font-size: 23px;
    }

    p {
        position: relative;
        font-size:19px;
        left:2%;
    }

    .close {
       
        background-color: rgb(170, 170, 170);
        color:white;   
    }

    .save {
        background-color:white;
        color:$backgroundColor; 
    }

    .btn {
        width: 10vh;
        height: 4vh;
        position: relative;
        bottom:2vh;
        top:6vh;
        left:28vh;
        border-style: solid;
        border-color: transparent;
        border-radius: 10px;
    }

    .btn:hover {
        filter: brightness(70%);
        cursor: pointer;
    }
  
}



#modbtns {
    position: relative;
    bottom:1vh;
    top:7vh;
    left:28vh;
        
}

.modbtn {
    width: 10vh;
    height: 4vh;
    background-color:rgb(68, 87, 255);
    color:white;
    border-style: solid;
    border-color: transparent;
    position: relative;
    top:10vh;
    left:1vh;

   
}

.modbtn:hover {
    filter: brightness(70%);
    cursor: pointer;
}

#para3 {
    position: relative;
    padding:5px;
    top:7vh;
    text-align: center;
}

#codelabel {
    position: relative;
    left:55vh;
    top:-30vh;
}

.gridcode {
    position: relative;
    left:55vh;
    bottom:30vh;
}
.grid8 {
    display: grid;
    width: 100%;
    grid-gap:30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:repeat(4, 20vh);
   
    
    // border-radius: 20px;
    // overflow: hidden;

    h3 {
        text-align: center;
        font-size: 20px;
        color:$backgroundColor;
    }
    code {
        font-size: 12px;
        
    }

    .html {
       
        grid-row: span 2;
        grid-column: span 2;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;
        // background-color:#39863275;

      
    }
    .css {
        grid-row: span 4;
        grid-column: span 1;
        border-style: solid;
        border-color:#868686;
        border-width: .7px;
        // background-color:#39863275;
        position: relative;
        // top: -72vh;
        // left: 95vh;


       
    }

    .css2 {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-color:#868686;
        border-width: .7px;
    }

    .java {
        grid-row: span 2;
        grid-column: span 1;
        border-style: solid;
        border-width: .7px;
        border-color:#aaaaaa;
    }

}




// WIDE SCREEN DESIGN /////////////////////////

@media only screen and (max-width:2050px) {
   
}
   


